In [13]:
import numpy as np

In [14]:
job_titles =np.array(['Data Analyst','Data Scientist','Data Engineer','Machine Learning Engineer','AI Engineer'])

base_salaries = np.array([60000, 80000, 75000, 90000, np.nan])

bonus_rates =np.array([.05, .1, .08, .12, np.nan])

In [15]:
total_salaries = base_salaries * (1 + bonus_rates)
total_salaries

array([ 63000.,  88000.,  81000., 100800.,     nan])

In [17]:
np.nanmean(total_salaries)

np.float64(83200.0)